nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    flex: 1;
}

header {
    display: flex;
    height: 10%;
}

header img {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
}

header div:nth-child(1) {
    flex: 1;
}

header div:nth-child(2) {
    flex: 9;
}